@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  background: #476072;
  font-family: "Lato", sans-serif;
  place-items: center;
  min-height: 100vh;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
